body {
    background: url(imge/soporte.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

p {
  text-align: center;
  line-height: 1.6;
  margin-bottom: 15px;
}

.info-adicional {
  margin-bottom: 20px;
}

.info-adicional p {
  font-weight: bold;
}

.info-adicional ul {
  list-style: disc;
  padding-left: 20px;
}

.contactos {
  text-align: center;
}

.contactos h3 {
  font-size: 35px;
  margin-bottom: 10px;
}

.contactos p {
  margin-bottom: 5px;
}
